<!--Секция навигации сайта-->
<nav class="navbar navbar-expand-sm navbar-light bg-white">
    <!--sticky-top -->
    <div class="container nav-container">
        <a class="navbar-brand" href="/" title="Главная">
            <img src="/imgs/logos/scanox_logo.png" width="80%" alt="Scanox logo">
        </a>
        <span class="navbar-text text-dark slogan-nav h4 pb-0 d-none d-lg-block" id="id_slogan">
            Здесь ищут Безопасность
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <nav class="navbar-nav">
                <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#loginModal" id="login_link" rel="nofollow">Войти</a>
                <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#registrationModal" id="registration_link" rel="nofollow">Регистрация</a>
            </nav>
        </div>
    </div>
</nav>