<footer class="sx-footer mb-0">
    <div class="jumbotron jumbotron-fluid my-0 pt-4 pb-4">
        <div class="container nav-container text-white-50">
            <div class="row d-flex  d-flex justify-content-between">
                <div class="col-md-2 mr-auto d-flex justify-content-md-between">
                    <a href="https://vk.com/scanox" target="_blank" rel="noopener" class="mr-4"><i
                            class="fab fa-vk"></i></a>
                    <a href="https://ok.ru/group/55412030570672" target="_blank" rel="noopener" class="mr-4"><i
                            class="fab fa-odnoklassniki"></i></a>
                    <a href="https://www.facebook.com/scanox.pro" target="_blank" rel="noopener" class="mr-4"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/scanoxsecurity" target="_blank" rel="noopener"><i
                            class="fab fa-twitter"></i></a>
                </div>
                <div class="col-md-2 mt-3 mt-md-0">
                    <a href="/contact_us" rel="nofollow"><span class="text-white-50">Связаться с нами</span></a>
                </div>
            </div>
            <div class="row d-flex mt-3 justify-content-between">
                <div class="col-md-3 ">
                    <a href="/conditions" target="_blank" rel="nofollow">
                        <span class="text-white-50">Условия использования</span>
                    </a>
                </div>
                <div class="col-md-2 mt-3 mt-md-0">
                    &copy; Scanox 2019
                </div>
            </div>
        </div>
    </div>
</footer>