RewriteEngine On
# с www на без www
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]
## Redirect to HTTPS
RewriteCond %{HTTPS} =off
RewriteCond %{HTTP_HOST} (www)?(test|development)?(.)?scanox.pro
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !index.php
#RewriteRule .* /index.php [L]
RewriteRule .* '' [L]

## Запрет выдачи листинга пустого каталога
Options -Indexes

## Access rules section
<Files *.*>
    Order Deny,Allow
    Deny from all
</Files>

#Match
<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>
    
    # JS
<Files /js/bundles/*.js>
    Order Allow,Deny
    Allow from all
</Files>
<Files /js/library/*.js>
    Order Allow,Deny
    Allow from all
</Files>

    # CSS
<Files *.css>
    Order Allow,Deny
    Allow from all
</Files>
    # favicon
<Files favicon.ico>
    Order Allow,Deny
    Allow from all
</Files>
    # imgs
<FilesMatch "\.(pdf|png|jpe?g|svg|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

    #CEO
<Files robots.txt>
    Order Allow,Deny
    Allow from all
</Files>
<FilesMatch sitemap*.xml*>
    Order Allow,Deny
    Allow from all
</FilesMatch>

    #mail.ru verivication
<Files mailru-verification4a924d11060e83a6.html>
    Order Allow,Deny
    Allow from all
</Files>
    # yandex.ru verification
<Files yandex_65942c3cd2ccbe7a.html>
    Order Allow,Deny
    Allow from all
</Files>
